<%= form_with(id: "comment_form", model: [ @article, @comment ]) do |form| %>
  <p>
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </p>
  <p>
    <%= form.label :body, class: 'form-label' %>
    <%= form.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= form.submit nil, class: 'btn btn-primary' %>
  </p>
<% end %>
