<div class="col-12">
  <div class="d-flex justify-content-between align-items-center">
    <h1>All Articles</h1>
    <div class="">
      <a href="/articles/new" class="btn btn-primary">
        New Article
      </a>
    </div>
  </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <th scope="row">
            <%= article.id %>
          </th>
          <td><%= article.title %></td>
          <td><%= article.created_at.strftime('%d/%m/%Y  %H:%m')%></td>
          <td class="d-flex justify-content-around">
            <a href="/articles/<%= article.id %>" class="btn">
              <i class="bi bi-eye-fill"></i>
            </a>
            <% if current_user == article.user %>
              <a href="/articles/<%= article.id %>/edit" class="btn">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <%= button_to article_path(article.id), method: :delete, class: "btn " do%>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
