<div class="col-12">
  <div class="container">
    <div class="row">
      <%# header %>
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-5">
          <div>
            <h5 class="text-secondary">Article details</h5>
            <h1>
              <%= @article.title%>
            </h1>
          </div>
          <div class="">
            <a href="/articles" class="btn btn-primary">
              Back to articles
            </a>
            <a href="/articles/<%= @article.id %>/edit" class="btn btn-success ml-5">
              Edit
            </a>
            <%= button_to "Destroy", article_path(@article), method: :delete, class: 'btn btn-danger', form_class: 'd-inline-block' %>
          </div>
        </div>
      </div>
      <%# main %>
      <div class="col-12 col-lg-9 pe-4">
        <%# article body %>
        <p class="mb-5 fs-3">
          <%= @article.body %>
        </p>
        <hr>
        <div class="d-flex justify-content-between">
          <div>
            Writen by <em><%= @article.user.username %></em>
          </div>
          <div class="fst-italic">
            <%= @article.created_at.strftime('%d/%m/%Y  %H:%m') %>
          </div>
        </div>
        <hr>
        <h3 class="mt-5 mb-3">All comments:</h3>
        <%= render @article.comments %>
      </div>
      <%# add comments %>
      <div class="col-12 col-lg-3 ps-4">
        <h3>Add a comment:</h2>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
</div>
