<!DOCTYPE html>
<html>
  <head>
    <title>Rails Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: 'module' %>
  </head>
  <body>
    <header class="container">
      <%= render 'shared/navbar' %>
    </header>
    <div class="container my-5">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <footer class="container mt-5">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
    </footer>
  </body>
</html>
